.stacked-card {
    width: 300px;
    background-color: #f3f2b0;
    border: 10px solid #f7e790;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
}

.stacked-card::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    height: 10px;
    background-color: #ebeec1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.stacked-card h3 {
    font-size: 18px;
    margin-top: 0;
}

.stacked-card p {
    font-size: 14px;
    margin-bottom: 10px;
}


.listee{
    margin-left: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-size:small;
    list-style: none;
 
 }
 .liste{
    margin-left: 6rem;
    margin-right: 3rem;
 
 }
 .listeFirst{
    background-color: rgb(24, 18, 18);
 color: blue;
 }
 .iconlar{
    color: white;
    font-style: italic;
    margin: 1rem;
 }
 .iconlar2{
    color: rgb(143, 255, 218);
    font-style: italic;
    margin: 1rem;
    text-decoration: underline;
 }
 .icon1{
    margin-top: 0rem;
    margin-left: 185px;
 }
 .fa-instagram{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-facebook{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 
 }
 .fa-youtube{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-twitter{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-linkedin-in{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-tiktok{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .zendeskdiv{
    display: flex;
    justify-content: center;
    font-size: 17rem;
    color: white;
 }
 .terms{
    color: white;
    margin: 1rem;
 }
 .terms1{
    margin: 10px;
    font-size: 13px;
 }
 .altP{
  /* margin: 3rem; */
  color: whitesmoke;
  font-size: 11px;
 }