
 .ilkFull{
     background-color: rgba(186, 142, 77, 0.353);
 }
 .NavP{
     font-size: small;
 }
 .navH{
     font-style: italic;
     font-size: 4rem;
     font-weight: bolder;
 }
 .navP2{
     font-weight:150;
 }
 
 .btn.btn0{
    color: white;
 background-color: darkslategrey;
    font-size: 15px;
    padding: 15px 30px;
    size: 1rem;
 }

 .alth{
    font-weight: bold;
}
.altp{
    font-weight: 100;
    width: 600px;
}

.listee{
    margin-left: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-size:small;
    list-style: none;
 
 }
 .liste{
    margin-left: 6rem;
    margin-right: 3rem;
 
 }
 .listeFirst{
    background-color: rgb(24, 18, 18);
 color: blue;
 }
 .iconlar{
    color: white;
    font-style: italic;
    margin: 1rem;
 }
 .iconlar2{
    color: rgb(143, 255, 218);
    font-style: italic;
    margin: 1rem;
    text-decoration: underline;
 }
 .icon1{
    margin-top: 0rem;
    margin-left: 185px;
 }
 .fa-instagram{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-facebook{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 
 }
 .fa-youtube{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-twitter{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-linkedin-in{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .fa-tiktok{
 margin: 1rem;
 font-size: 2rem;
 color: white;
 }
 .zendeskdiv{
    display: flex;
    justify-content: center;
    font-size: 17rem;
    color: white;
 }
 .terms{
    color: white;
    margin: 1rem;
 }
 .terms1{
    margin: 10px;
    font-size: 13px;
 }
 .altP{
  /* margin: 3rem; */
  color: whitesmoke;
  font-size: 11px;
 }

